@model List<ProjektSezon2.Models.Order>
@{
    ViewData["Title"] = "Paid Orders";
}
<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>Order #</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model)
        {
            <tr>
                <td>@o.Id</td>
                <td>@o.ApplicationUser?.Email</td>
                <td>@o.CreatedAt.ToString("g")</td>
                <td>@o.TotalAmount €</td>
                <td>
                    <a asp-action="Details" asp-route-id="@o.Id" class="btn btn-sm btn-info">Details</a>
                    <form asp-action="Ship" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@o.Id" />
                        <button type="submit" class="btn btn-sm btn-success">
                            Send
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
